<!-- Toolbar -->



<section class="welcome">
  <div class="toolbar" role="banner">
    <span class="text"> Quienes somos	</span>
    <span> Que hacemos	</span>
    <span> Resultados	</span>
    <span> Contactanos	</span>
  </div>


</section>

<section class="information">

</section>

<section class="whoweare">

</section>

<section class="">

</section>

<section class="">

</section>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>