<button (click)="scroll(contacto)" class="fab">
  <i class="fa-brands fa-whatsapp"></i>
</button>

<!-- <section class="welcome" role="main" > -->
<section class="welcome" role="main" [style.background]="'url(' + background + ') no-repeat center fixed'">
  <div class="toolbar" role="banner">
    <span (click)="scroll(quienesSomos)">Quienes somos</span>
    <span (click)="scroll(soluciones)">Que hacemos</span>
    <span (click)="scroll(resultadosReales)">Resultados</span>
    <span (click)="scroll(contacto)">Contactanos</span>
  </div>
  <div class="text-main">
    <h1>AMAR ES VIDA</h1>
    <h3 style="color:antiquewhite; font-size: small;">CIENCIAS OCULTAS Y ESOTERISMO</h3>
    <div class="buttons">
      <div>
        <button class="buttonDefault" (click)="scroll(resultadosReales)">Testimonios reales</button>
      </div>
      <div>
        <button class="buttonDefault" (click)="scroll(quienesSomos)">Nuestros profesionales</button>
      </div>
    </div>
  </div>
</section>

<section class="soluciones container" #soluciones id="soluciones">
  <div class="reveal">
    <h2>Entregamos soluciones a problemas de amor, infidelidad, desconfianza, salud, atracción y mucho más</h2>
    <!--  -->
    <div class="solution">
      <div class="icon">
        <i class="fa-solid fa-heart fa-10x"></i>
        <span class="headline">
          Amarres de amor
        </span>
      </div>
      <div class="text">
        <p>
          ¿Sientes una fuerte atracción hacia esa persona con la cual tienes poca relación o ni siquiera conoces, pero
          percibes una conexión que nunca antes habías sentido? Este es el ritual de seducción por excelencia, donde la
          persona deseada sentirá una fuerte energía y atracción hacia ti.
        </p>
        <div class="bottom">
          <button class="buttonDefault" (click)="scroll(resultadosReales)">Ver testimonios</button>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="solution">
      <div class="icon">
        <i class="fa-solid fa-ring fa-10x"></i>
        <span class="headline">
          Retorno de pareja
        </span>
      </div>
      <div class="text">
        <p>
          A veces un solo error puede transformar tu vida en un abismo y tu felicidad en sufrimiento, te despiertas
          todas
          las mañanas arrepintiéndote de esa equivocación y que ese día nunca hubiera sucedido. Tus noches se convierten
          en pesadillas y te desvelas pensando que tu ser amado se ha alejado y nunca más regresará o volverá a ser el
          mismo. Este poderoso ritual revive la llama del amor y crea lazos tan fuertes que tu pareja regresara rendida
          a
          tus pies y totalmente enamorada y arrepentida.
        </p>
        <div class="bottom">
          <button class="buttonDefault" (click)="scroll(quienesSomos)">Profesionales aptos</button>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="solution">
      <div class="icon">
        <i class="fa-solid fa-fire-flame-curved fa-10x"></i>
        <span class="headline">
          Afectos sexuales
        </span>
      </div>
      <div class="text">
        <p>
          ¿La intimidad ya no es la misma que antes? ¿El deseo sexual es escaso y la relación con tu pareja se tornó
          fría
          y distante? Este ritual cambiará para siempre tu vida sexual. Limpiamos el aura en la pareja y renovamos las
          energías para que puedas disfrutar del sexo en su máxima potencia y esplendor.
        </p>
        <div class="bottom">
          <button class="buttonDefault" (click)="scroll(resultadosReales)">Ver testimonios</button>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="solution">
      <div class="icon">
        <i class="fa-solid fa-hand-fist fa-10x"></i>
        <span class="headline">
          Dominación total
        </span>
      </div>
      <div class="text">
        <p>
          Se trata de una casi dominación de la persona a la que se pretende amarrar. Pero lejos de pensar en que ese
          ser
          amado pierde su voluntad, ya que se trabaja no solo el corazón y el movimiento de sus sentimientos, sino que
          se
          trabaja la mente para que sucumba a los encantos de la magia del hechizo. No se utiliza magia negra, por lo
          que
          no debes preocuparte por consecuencias o efectos negativos para ti o para la persona a la que va dirigida.
        </p>
        <div class="bottom">
          <button class="buttonDefault" style="color: #D5674B" (click)="scroll(contacto)">Contactanos!</button>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>

<section class="quienesSomos container" #quienesSomos id="quienesSomos">
  <div class="reveal">
    <h2 class="title">Quienes somos</h2>
    <div class="people">
      <div class="left person">
        <img src="../assets/people/image2.webp" alt="Photo of José Antonio Balenzuela">
        <h3>José Antonio Balenzuela</h3>
        <p>
          Seré tu guía y tu mentor mientras resuelvo tus problemas amorosos. Conmigo encontraras el camino de la
          felicidad, de la mano de la espiritualidad y los trabajos energéticos. Más de 30 años me avalan para ser el
          mejor hechicero en américa del sur. Háblame ahora!
        </p>
      </div>
      <div class="center person">
        <img src="../assets/people/image3.webp" alt="Photo of Marcia Villalba">
        <h3>Lic. Marcia Villalba</h3>
        <p>
          Escribeme ahora y prometo ayudarte de la mejor manera, soy una profesional seria, y espero encontrar gente que
          tambien este dispuesta a serlo, anímese a escribirme y vera que juntos encontraremos un nuevo amor,
          restauraremos una relación o renovaremos el deseo sexual en su pareja,. Absoluta confianza y discreción.
        </p>
      </div>
      <div class="right person">
        <img src="../assets/people/image1.webp" alt="Photo of Esmeralda Yanos">
        <h3>Esmeralda Yanos</h3>
        <p>
          Puedo resolverle cualquier problema que tenga. Usando la astrología, mis rituales y hechizos pueden
          recuperarle
          un amor perdido, fortalecer los vínculos con tu ser amado, alejar y separar a un tercero. No lo dude más,
          contácteme ahora para tener una charla conmigo. Juntos encontraremos la felicidad en usted!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="resultadosReales container" #resultadosReales id="resultadosReales">
  <h2 class="title">Resultados reales</h2>
  <p class="headline">
    Nuestos clientes nos eligen día a día. Aquí una muestra del agradecimiento que recibimos habitualmente…
  </p>
  <div class="centerCarousel">

    <!-- CARROUSEL DESKTOP -->
    <carousel class="carouselDesktop" [height]="500" [overflowCellsLimit]="3" [cellsToShow]="3" [loop]="true"
      [arrowsOutside]="true">
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
    </carousel>
    <!--  -->
    <!-- CARROUSEL MOBILE -->
    <carousel class="carouselMobile" [height]="500" [overflowCellsLimit]="3" [cellsToShow]="1" [loop]="true"
      [arrowsOutside]="true">
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
    </carousel>

  </div>
  <p class="headline">
    Nuestro <b>compromiso</b> es con el cliente. Buscamos la <b>satisfacción</b> plena con los servicios brindados.
    Como puede ver otorgamos <b>resultados garantizados </b> <u>o le devolvemos su dinero!</u>
  </p>


</section>

<section class="contacto container" #contacto id="contacto">
  <h2 class="title">Comunicate con nosotros</h2>
  <div class="list">
    <div class="left">
      <ul>
        <li class="headline">100% Profesionales</li>
        <li class="headline">Diagnóstico preciso para una mejor efectividad</li>
        <li class="headline">Soluciones a medida y veloces</li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li class="headline">Resultados garantizados</li>
        <li class="headline">Atención las 24Hs</li>
        <li class="headline">Su caso con total seriedad</li>
        <li class="headline">Trayectoria comprobable</li>
      </ul>
    </div>
  </div>

  <h3>
    No dejes pasar más tiempo, podemos ayudarte
  </h3>

  <div class="end">
    <button class="buttonDefault">
      <i class="fa-brands fa-whatsapp"></i> <a rel="nofollow"
        href="https://wa.me/+5493512613917?text=texto%20personalizado" target="_blank"> Contactanos!</a>
    </button>
  </div>
</section>

<section class="faq container">

  <span [hidden]="!termsHidden" (click)="termsHidden = !termsHidden">Términos y condiciones</span>
  <span [hidden]="termsHidden" (click)="termsHidden = !termsHidden">
    Este sitio va dirigido exclusivamente a mayores de edad (18 años).
    <br>
    De acuerdo con las legislaciones vigentes, se establece que las predicciones, videncias psiquicas, lecturas de
    cartas y hechizos tienen fines de entretenimiento y ayuda personal.
    <br>
    Estos servicios no sustituirán la debida atención médica, legal, financiera, psicológica y psiquiátrica. No se hará
    el reembolso por el servicio adquirido sin ninguna excepción.
    <br>
    Las consultas se realizan vía telefónica o por mensaje.
    <br>
    Todas las personas son diferentes, por tanto los resultados pueden variar de una persona a otra.
    <br>
    Las fotos son artísticas, las utilizamos para mantener en el anonimato a nuestros datos personales.
    Con respecto al pago que usted realiza sobre una consulta es bajo su voluntad y nos desligamos de todos reclamos que
    puedan realizarnos ya que la consulta es un servicio que usted ya ha obtenido.
    <br>
    Aclaración: La totalidad de los profesionales que forman parte del equipo de Amarres Poderosos y Union De Pareja,
    están registrado bajo un nombre de fantasía y utilizan imágenes que resultan meramente ilustrativas.
  </span>

  <h2>AMAR <br> ES <br> VIDA</h2>
</section>

<router-outlet></router-outlet>