<section class="welcome" role="main">
  <div class="toolbar" role="banner">
    <span class="text"> Quienes somos </span>
    <span> Que hacemos </span>
    <span> Resultados </span>
    <span> Contactanos </span>
  </div>
  <div class="text-main">
    <h1>AMOR ES VIDA</h1>
    <h3>ciencias ocultas y esoterismo</h3>
  </div>
</section>

<section class="soluciones container">
  <h3>Entregamos soluciones a problemas de amor, infidelidad, desconfianza, salud, atracción y mucho más</h3>
  <!--  -->
  <div class="solution">
    <div class="icon">
      <i class="fa-solid fa-heart fa-10x"></i>
      <span class="headline">
        Amarres de amor
      </span>
    </div>
    <div class="text">
      <p>
        ¿Sientes una fuerte atracción hacia esa persona con la cual tienes poca relación o ni siquiera conoces, pero
        percibes una conexión que nunca antes habías sentido? Este es el ritual de seducción por excelencia, donde la
        persona deseada sentirá una fuerte energía y atracción hacia ti.
      </p>
      <div class="bottom">
        <button class="buttonDefault">Ver testimonios</button>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <div class="solution">
    <div class="icon">
      <i class="fa-solid fa-ring fa-10x"></i>
      <span class="headline">
        Retorno de pareja
      </span>
    </div>
    <div class="text">
      <p>
        A veces un solo error puede transformar tu vida en un abismo y tu felicidad en sufrimiento, te despiertas todas
        las mañanas arrepintiéndote de esa equivocación y que ese día nunca hubiera sucedido. Tus noches se convierten
        en pesadillas y te desvelas pensando que tu ser amado se ha alejado y nunca más regresará o volverá a ser el
        mismo. Este poderoso ritual revive la llama del amor y crea lazos tan fuertes que tu pareja regresara rendida a
        tus pies y totalmente enamorada y arrepentida.
      </p>
      <div class="bottom">
        <button class="buttonDefault">Profesionales aptos</button>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <div class="solution">
    <div class="icon">
      <i class="fa-solid fa-fire-flame-curved fa-10x"></i>
      <span class="headline">
        Afectos sexuales
      </span>
    </div>
    <div class="text">
      <p>
        ¿La intimidad ya no es la misma que antes? ¿El deseo sexual es escaso y la relación con tu pareja se tornó fría
        y distante? Este ritual cambiará para siempre tu vida sexual. Limpiamos el aura en la pareja y renovamos las
        energías para que puedas disfrutar del sexo en su máxima potencia y esplendor.
      </p>
      <div class="bottom">
        <button class="buttonDefault">Ver testimonios</button>
      </div>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <div class="solution">
    <div class="icon">
      <i class="fa-solid fa-hand-fist fa-10x"></i>
      <span class="headline">
        Dominación total
      </span>
    </div>
    <div class="text">
      <p>
        Se trata de una casi dominación de la persona a la que se pretende amarrar. Pero lejos de pensar en que ese ser
        amado pierde su voluntad, ya que se trabaja no solo el corazón y el movimiento de sus sentimientos, sino que se
        trabaja la mente para que sucumba a los encantos de la magia del hechizo. No se utiliza magia negra, por lo que
        no debes preocuparte por consecuencias o efectos negativos para ti o para la persona a la que va dirigida.
      </p>
      <div class="bottom">
        <button class="buttonDefault" style="color: #D5674B">Contactanos!</button>
      </div>
    </div>
  </div>
  <!--  -->
</section>


<section class="quienesSomos container">
  <h2 class="title">Quienes somos</h2>
  <div class="people">
    <div class="left person">
      <img src="../assets/people/image2.png" alt="">
      <h3>José Antonio Balenzuela</h3>
      <p>
        Seré tu guía y tu mentor mientras resuelvo tus problemas amorosos. Conmigo encontraras el camino de la
        felicidad, de la mano de la espiritualidad y los trabajos energéticos. Más de 30 años me avalan para ser el
        mejor hechicero en américa del sur. Háblame ahora!
      </p>
    </div>
    <div class="center person">
      <img src="../assets/people/image3.png" alt="">
      <h3>Lic. Marcia Villalba</h3>
      <p>
        Escribeme ahora y prometo ayudarte de la mejor manera, soy una profesional seria, y espero encontrar gente que
        tambien este dispuesta a serlo, anímese a escribirme y vera que juntos encontraremos un nuevo amor,
        restauraremos una relación o renovaremos el deseo sexual en su pareja,. Absoluta confianza y discreción.
      </p>
    </div>
    <div class="right person">
      <img src="../assets/people/image1.png" alt="">
      <h3>Esmeralda Yanos</h3>
      <p>
        Puedo resolverle cualquier problema que tenga. Usando la astrología, mis rituales y hechizos pueden recuperarle
        un amor perdido, fortalecer los vínculos con tu ser amado, alejar y separar a un tercero. No lo dude más,
        contácteme ahora para tener una charla conmigo. Juntos encontraremos la felicidad en usted!
      </p>
    </div>
  </div>
</section>

<section class="resultadosReales container">
  <h2 class="title">Resultados reales</h2>
  <p class="headline">
    Nuestos clientes nos eligen día a día. Aquí una muestra del agradecimiento que recibimos habitualmente…
  </p>
  <!-- <div class="centerCarousel">

    <carousel [height]="500" [overflowCellsLimit]="3" [cellsToShow]="3" [loop]="true" [arrowsOutside]="true">
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
      <div class="carousel-cell">
        <img src="../assets/testimony/93c809f7-14d7-4b5d-9bac-30d1f940985e.jpg">
      </div>
    </carousel>
  </div> -->
  <p class="headline">
    Nuestro <b>compromiso</b> es con el cliente. Buscamos la <b>satisfacción</b> plena con los servicios brindados.
    Como puede ver otorgamos <b>resultados garantizados </b> <u>o le devolvemos su dinero!</u>
  </p>


</section>

<section class="contacto container">
  <h2 class="title">Comunicate con nosotros</h2>
  <div class="list">
    <div class="left">
      <ul>
        <li class="headline">100% Profesionales</li>
        <li class="headline">Diagnóstico preciso para una mejor efectividad</li>
        <li class="headline">Soluciones a medida y veloces</li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li class="headline">Resultados garantizados</li>
        <li class="headline">Atención las 24Hs</li>
        <li class="headline">Su caso con total seriedad</li>
        <li class="headline">Trayectoria comprobable</li>
      </ul>
    </div>
  </div>

  <h3>
    No dejes pasar más tiempo, podemos ayudarte
  </h3>

  <div class="end">
    <button (click)="goTo('https://wa.me/whatsappphonenumber/?text=urlencodedtext')" class="buttonDefault"><i
        class="fa-brands fa-whatsapp"></i> Contactanos!</button>
  </div>
</section>

<section class="faq container">
  <span>Lorem ipsum dolor sit amet. Et galisum enim sit corrupti laudantium sed nostrum autem id nostrum numquam eum
    dolore quia. Et accusamus cupiditate et eaque amet hic sint maiores est delectus rerum ea consectetur dolorem. In
    enim beatae ut quis voluptatem vel aliquid libero hic aperiam nihil cum suscipit laboriosam sit dolores perferendis
    et dignissimos porro? Ut explicabo dolorem et galisum magnam ut dolores atque qui odio pariatur non consequatur
    saepe id quidem quaerat non repellendus ducimus.</span>
  <div> <img src="" alt=""> imagen peruana</div>
</section>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>